<div class="content compClass" role="main">
  <div>
    <button class=" btn btn-secondary buttonClass" routerLink="/songs">Zurück</button>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>Nachfolgend bekommst du alle Details zu deinem gewälten Song angezeigt:</p>
      <p>Die ID in der Datenbank ist: {{song.id}} </p>
      <p> Der Song heißt: {{song.name}} </p>
      <p>Und ist von dem Album: {{song.album.name}}</p>
      <p>... der Band: {{song.album.artist.name}}</p>
    </div>
  </div>
</div>
<div>
 <app-video-player [videoId]="song.songUrl"></app-video-player>
</div>
