
<div class="content" role="main">
  <div class="centering">
    <div>
      <button class=" btn btn-secondary buttonCss" routerLink="/artists">Zurück</button>
    </div>
    <div class="centering">
      <p>Hier sind alle Details zum gewählten Künstler/Band:</p>
      <p>Artist Details are:</p>
      <p>Die ID in unserer Datenbank ist: {{artist.id}} </p>
      <p>Der Name ist: {{artist.name}} </p>
      <p>Veröffentlich werden die Lieder bei dem Label "{{artist.recordLabel.name}}"</p>
    </div>
    <div class="centering">
    <p> Hier siehst du ein Bild:</p>
    <div class="img">
      <img [src]="artist.imageLink">
    </div>
  </div>
  </div>
</div>
