<div class="spalte-1 tableCss">
  <p>Schön, dass du dich für unsere Künstler interessierst :) Anbei siehst du alle Künstler, die es in der Datenbank
    gibt.
    Wähl' doch einfach mal einen aus. Dann siehst Du auch noch mehr Details.</p>
  <div class="">
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Record Label</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let artist of artists; index as i" [routerLink]="['/artist/', artist.id]" class="clickable">
        <!--    <th scope="row">{{ i + 1 }}</th>-->
        <td>
          {{artist.id}}
        </td>
        <td>
          {{ artist.name }}
        </td>
        <td>
          {{artist.recordLabel.name}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
  </div>
</div>
<!--<div class="spalte-2 sideCarouselCss">-->
<!--  <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">-->
<!--    <ng-container *ngFor="let image of images">-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper w-auto sideCarouselCss">-->
<!--          <img [src]="image" alt="Random slide"/>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ng-container>-->
<!--  </ngb-carousel>-->
<!--</div>-->

