.clickable {
  cursor: pointer;
}

.tableCss {
  padding-top: 50px;
  padding-bottom: 50px;
  /*margin-left: -280px;*/
}

.spalte-1 {
  float: left;
  width: 100%;
}

.spalte-2 {
  float: left;
  padding-left: 20px;
  width: 20%;
  height: 300px;
}

.sideCarouselCss {
  width: 280px;
  padding-top: 50px;
}
